.close {
    display: block;
    color: rgba($color: #fb8d32, $alpha: 0.8);
    font-size: 60px;
    line-height: 60%;
    cursor: pointer;
    &_delete-all {
        color: rgba(255, 111, 111, 0.7);
    }
}