.header {
    width: 100%;
    margin-top: 80px;
    @media (max-width: 991.98px) {
        text-align: center;
    }
    &__title {
        margin-bottom: 30px;
        font-family: 'Architects Daughter', cursive;
        font-size: 50px;
        letter-spacing: 3px;
        color: #fff;
        text-shadow: 0 0 10px #fb8d32,
        0 0 20px #fb8d32,
        0 0 40px #fb8d32,
        0 0 80px #fb8d32,
        0 0 160px #fb8d32;
    }
    &__add {
        span {
            font-family: 'Architects Daughter', cursive;
            font-size: 18px;
            font-weight: 300;
            color: #fff;
        }

    }
    &__btn {
        margin-left: 20px;
        transition: all 0.4s ease-in-out;
        @media(min-width: 768px) {
            &:hover {
                box-shadow: 0 0 10px rgb(245, 107, 180),
                0 0 20px rgb(245, 107, 180),
                0 0 40px rgb(245, 107, 180),
                0 0 80px rgb(245, 107, 180),
                0 0 160px rgb(245, 107, 180);
            }
        }
    }
}