.header {
    width: 100%;
    padding-top: 80px;
    &__title {
        margin-bottom: 40px;
        font-family: 'Architects Daughter', cursive;
        font-size: 50px;
        letter-spacing: 3px;
        color: #fff;
        text-shadow: 0 0 10px #fb8d32,
        0 0 20px #fb8d32,
        0 0 40px #fb8d32,
        0 0 80px #fb8d32,
        0 0 160px #fb8d32;
    }
    &__add {
        align-self: flex-end;
        span {
            font-size: 18px;
            font-weight: 300;
            color: #fff;
        }
    }
    &__btn {
        margin-left: 30px;
    }
}