.main {
    width: 100%;
    margin: 60px 0;
    &__wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 270px);
        grid-template-rows: 320px;
        grid-auto-rows: 320px;
        gap: 20px;
        @media (max-width: 991.98px) {
            justify-content: center;
        }
    }
    &__empty {
        width: 100%;
        text-align: center;
        font-size: 96px;
        font-weight: 700;
        letter-spacing: 15px;
        color: rgba(255, 255, 255, 0.15);
    }
    &__item {
        width: 100%;
        height: 300px;
        cursor: pointer;
        transition: transform 0.4s ease;
        @media (min-width: 768px) {
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &__photo {
        width: 270px;
        height: 270px;
        position: relative;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px 10px 0 0;
        }
        span {
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 10;
            padding: 8px;
            font-size: 18px;
            border-radius: 0 10px 0 10px;
            background: rgba(255, 111, 111, 0.5);
            transition: all 0.4s ease;
            cursor: pointer;
            @media (min-width: 768px) {
                &:hover {
                    background: rgba(255, 111, 111, 1);
                }
            }
        }
    }
    &__name {
        width: 270px;
        height: 50px;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        border-radius: 0 0 10px 10px;
        p {
            font-weight: 600;
        }
        span {
            text-align: right;
            color: rgba($color: #202124, $alpha: 0.7);
        }
    }
}