@import "base/fonts";
@import "base/mixins";
@import "base/variables";

*, h1 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px; 
	color: #202124;
}

body {
	width: 100%;
	min-height: 100vh;
	background: url('../img/bg.jpg') center center/cover no-repeat;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	@media (max-width: 1160px) {
		max-width: 970px;
	}
	@media (max-width: 991.98px) {
		max-width: 750px;
	}
	@media (max-width: 767.98px) {
		max-width: none;
		padding: 0 10px;
	}

}

@import "blocks/btn";
@import "blocks/close";
@import "blocks/header";
@import "blocks/main";
@import "blocks/full-photo";
@import "blocks/modal";
@import "blocks/footer";